<div class="row">
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(@post,comment, vote: true), method: 'post'  do %>
        <i class="icon-arrow-up"></i>
      <% end %>
      <br />
    <% end %>
    Votes: <%= comment.total_votes %>
    <% if logged_in? %>
      <br />
      <%= link_to vote_post_comment_path(@post,comment, vote: false), method: 'post' do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>
  <div class="well span6">
    <% if show %>
      <h5>Commented on <%= link_to comment.post.title, post_path(comment.post) %></h5>
    <% end %>
    <em>"<%= comment.body %>"</em>
    by <%= link_to comment.creator.username, user_path(comment.creator) %> at <%= display_datetime(comment.created_at) %>
  </div>
</div>
