<div class="row">
  <div class='span8 well'>
    <p class='pull-right'>
      [<%= link_to "Add Category", '#' %>]
      [<%= link_to "Edit Post", edit_post_path(post) %>]
    </p>
    <%= render post.categories %>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p><%= post.description[0..25] %></p>
    <p>
      <span class='quiet'>posted by</span>
      <small>at <%= post.created_at %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>
