<div class="row">
  <div class="well span8">
    <%= render 'shared/errors', obj: @category %>

    <%= form_for @category do |f| %>

      <div class="control-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <%= f.submit(@category.new_record? ? "Create Category" : "Update Category", class: 'btn btn-primary') %>
    <% end %>
  </div>
</div>
